# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Native (iOS/Android)
/ios
/android
build/
*.orig.*

# Xcode
*.xcuserstate
*.xcuserdatad
*.xcworkspace
!*.xcworkspace/
DerivedData/

# CocoaPods
Pods/
Podfile.lock

# macOS
.DS_Store
*.pem

# local env files
.env*.local
